## -*- coding: utf-8 -*-

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<META HTTP-EQUIV="REFRESH" CONTENT="5">

<html>
<head>
	<title>${self.title()}</title>
	${self.head()}
</head>
<body>
	${self.header()}
	<div id="top">${self.heading()}</div>
	${self.body()}
	${self.footer()}
</body>
</html>

<%def name="title()">681</%def>
<%def name="head()">${c.head}
</%def>
<%def name="header()"><a name="top"></a></%def>
<%def name="tabs()"></%def>
<%def name="menu()"></%def>
<%def name="heading()"><h1>${c.heading or 'No Title'}</h1></%def>
<%def name="breadcrumbs()"></%def>
<%def name="footer()"></%def>
